@charset "UTF-8";


@media screen and (max-width: 768px) {
#video-conteiner iframe {
   width: 110%;
   height: 110%;
position: relative;
right: 13px;
}
#skill-conteiner {
   grid-template-columns: 2fr 1fr;
}

#video-conteiner iframe {
   height: 10rem;
}
}